/*All Styles*/
body {
	display: flex;
	margin-top: 5%;
	align-items: center;
	justify-content: center;
	background-color: lightblue;
}

#gameContainer {
	display: none;
	text-align: center;
	background-color: lightblue;
	width: 100%;
}

/*Start Page Styles*/
#startPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 10%;
}

#title-name {
	font-family: cursive;
	font-size: 6vw;
	padding-bottom: 10px;
	margin: auto;
	text-shadow: 2px 2px white;
	color: darkslateblue;
}

#startPage img {
	max-width: 25%;
	height: auto;
	box-shadow: 5px 5px black;
	padding-right: 10px;
	padding-bottom: 8px;
}

.image-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding-top: 20px;
	margin: auto;
}

#startPage p {
	padding: 0 0;
	padding-bottom: 30px;
	margin: auto;
	font-size: 2.5vw;
	font-family: cursive;
	text-shadow: 2px 2px white;
}

#startPage button {
	font-size: x-large;
	border-radius: 8%;
	border-right-color: white;
	border-bottom-color: white;
	box-shadow: 2px 2px black;
	font-size: 2vw;
}

#startPage button:hover {
	font-size: 2vw;
	background-color: darkslateblue;
	color: white;
	border-color: white;
	box-shadow: 2px 2px white;
}

/*Game Area Styles*/
#gameArea {
	position: absolute;
	width: 100%;
	bottom: 15vh;
	margin-left: 0;
	z-index: 2;
}

#newWaveScreen {
	display: none;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* Centers the element precisely */
	z-index: 4;

	h1 {
		color: darkslateblue;
		font-size: 3vw;
		font-family: cursive;
		text-shadow: 1.5px 1.5px white;
	}

	p {
		font-size: 2vw;
		font-family: cursive;
	}
}

.game-scene {
	position: relative;
	width: 100%;
	height: 58vh;
	overflow: hidden;
}

#grass {
	position: absolute;
	width: 100%;
	height: 40vh;
	bottom: 0;
	left: 0;
	padding: 0 0;
}

.castle-hero {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
}

#hero {
	position: absolute;
	bottom: 35%;
	right: 25%;
}

#hero img {
	width: 10vw;
	height: auto;
	image-orientation: flip;
}

#castle img {
	width: 35vh;
	height: auto;
}

.answer-holder {
	display: flex;
	flex-direction: column;
}

#answerInput {
	font-size: 1.5vw;
	border-width: 2px;
	border-color: black;
	font-family: sans-serif;
	text-align: center;
}

#submitButton {
	border-radius: 8%;
	border-right-color: white;
	border-bottom-color: white;
	box-shadow: 1px 1px black;
	font-size: 1.5vw;
	font-family: sans-serif;
}

#submitButton:hover {
	background-color: darkslateblue;
	color: white;
	border-color: white;
	box-shadow: 1px 1px white;
}

#answerOutput {
	z-index: 4;
	padding-bottom: 5px;
	font-family: cursive;
	font-size: larger;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 29.5%;
}

#pauseButton {
	display: block;
	right: 8%;
	top: 15%;
	position: absolute;
	color: white;
	background-color: darkslateblue;
	border-radius: 8%;
	border-width: 3px;
	border-color: white;
	border-style: solid;
	box-shadow: 1.5px 1.5px black;
	font-size: 1.5vw;
	font-family: sans-serif;
}

#pauseButton:hover {
	border-color: black;
}

.enemy {
	position: absolute;
	margin-left: 0;
	padding-left: 0;
	gap: 10px;
}

.enemy img {
	max-height: 70px;
	max-width: 70px;
}

#big_function {
	max-height: 90px;
	max-width: 90px;
}

.arrow {
    position: absolute;
    width: 90px;
    height: 80px;
	background: url(arrow.png); 
	z-index: 5;
    transition: transform .2s linear; /*Flying*/
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

.problem-text {
	color: black;
}

.vanishing {
	animation: vanishAnimation 0.3s;
}

@keyframes vanishAnimation {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

#gameOverScreen {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 10%;
}

#title-name {
	font-family: cursive;
	font-size: 6vw;
	padding-bottom: 10px;
	margin: auto;
	text-shadow: 2px 2px white;
	color: darkslateblue;
}

#gameOverScreen p {
	padding: 0 0;
	padding-bottom: 30px;
	margin: auto;
	font-size: 2.5vw;
	font-family: cursive;
	text-shadow: 2px 2px white;
}

#gameOverScreen button {
	font-size: x-large;
	border-radius: 8%;
	border-right-color: white;
	border-bottom-color: white;
	box-shadow: 2px 2px black;
	font-size: 2vw;
}

#gameOverScreen button:hover {
	font-size: 2vw;
	background-color: darkslateblue;
	color: white;
	border-color: white;
	box-shadow: 2px 2px white;
}

#pauseScreen {
	display: none;
	position: absolute;
	background-color: rgba(106, 105, 105, 0.674);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#pauseElements {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-top: 12%;
}

#pauseScreen p {
	font-size: 2.5vw;
	font-family: cursive;
	text-shadow: 2px 2px white;
}

#pauseScreen h1 {
	font-size: 6vw;
	margin: 0 0;
	text-shadow: 2px 2px white;
	color: darkslateblue;
	font-family: cursive;
}

#pauseScreen button {
	font-size: x-large;
	border-radius: 8%;
	border-right-color: white;
	border-bottom-color: white;
	box-shadow: 2px 2px black;
	font-size: 2vw;
	margin-bottom: 25%;
}

#pauseScreen button:hover {
	font-size: 2vw;
	background-color: darkslateblue;
	color: white;
	border-color: white;
	box-shadow: 2px 2px white;
}