/*All Styles*/
body {
	display: flex;
	margin-top: 20px;
	align-items: center;
	justify-content: center;
	background-color: lightblue
}

#gameContainer {
	display: none;
	text-align: center;
	background-color: lightblue
}

#newWaveScreen {
	display: none;
	text-align: center;
}

#gameArea {
	position: relative;
	width: 100vw;
	height: 600px;
}

#gameOverScreen {
	display: none;
	text-align: center;
	margin-top: 50px;
}

.enemy {
	position: absolute;
	margin-left: 0;
	padding-left: 0;
}

.enemy img {
	max-height: 50px;
	max-width: 50px;
}

.problem-text {
	color: black;
}

.vanishing {
	animation: vanishAnimation 0.3s;
}

@keyframes vanishAnimation {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.5);
	}
}
